/* generic classes */

.tow-col-layout .main-content{
	float:left;
}
.counts {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
  	background: none repeat scroll 0 0 #A6B911;
    border-radius: 5px;
    color: #FFFFFF;
    float: left;
    font-size: 31px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    margin: 0 20px 55px 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 40px;
}
.hidden {
	display:none
}
.navigation ul li  {
	background-color: #efefef;
	border-left:10px solid #cacaca;
	padding-left:5px;
	margin-bottom:1px;
}
.navigation ul li:hover  {
	background-color: #cacaca;
	border-left:10px solid #0082c8;
}
.navigation ul li a {
	
	line-height:40px;
}
#capchaContainer {
	display:inline-block;
}
#capchaContainer img {width:100px;
float:right
}
#capchaContainer input {
	width:75px !important;
	
}
.dataTable {
	margin:15px 0px;

}
.dataTable tr:nth-child(odd)  { background-color:#fff }
.dataTable tr:nth-child(even)   { background-color:#f5f5f5 }
.dataTable .table-year-col {
	width:15%;
}
.dataTable thead th {
	background-color: #cfcfcf;
	color: #0082c8;
	padding: 7px 10px;
	border-bottom: 1px solid #cacaca;
}
.dataTable td  {
	background-color: #f5f5f5;
	border-bottom: 1px solid #fff;
}
/* validation error */
.vError {
	border:1px solid red !important;
}
.errorPanel *{
	color:#d00000 !important;
}
.errorMsg {
	color:#ff0000;
 	margin-bottom: 15px;
    margin-top: -10px;
}
.errors .fa.fa-ban, .infos .fa.fa-ban {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    margin-right: 7px;
    font-size:34px
}
.errorPanel {
	color:#d00000;
	background-color:#e6c0c0;
	border:2px solid #de7a7b;
	padding:10px
}
.infoPanel {
	color:#0055bb;
	background-color:#c3d2e5;
	border:2px solid #84a7db;
	padding:10px
}
/* Header CSS */
#top-bar ul li{
	display:list-item;
	height:36px;
	margin-right:14px;
	float:left;
}

#top-bar {
	background-color:#31353D;
	height:40px;
	line-height:40px;
	padding:0px 25px;

}
#top-bar .top-bar-container {
	width:1024px;
	margin:auto;
}
#top-bar .top-bar-container {
	width:1024px
}
#top-bar ul li a{
	height:36px;
	line-height:36px;
	text-decoration:none;
	padding-right:15px;
	color:#fff;
}
#top-bar ul li a:last-child{
	padding-right:0px;
}
#top-bar ul li a:hover{
	color:#0082C8;
}
#top-bar .status-info-bar ul li:last-child {
	margin-right:0px
}
#doc {
	width:1024px;
}

#hd .header-content-wrapper {
	border-bottom:5px solid #efefef;
	position:relative;
	margin-bottom:5px;
	height:134px;
}
#hd .logo{
	float:left;
	width:580px;
	background:url(../images/linkalma-logo.png) -20px center; 
	background-repeat: no-repeat;
	height:100%;
}
#hd .logo a {
    display: block;
    height: 50px;
    margin-top: 38px;
    width: 237px;
}
.search-bar {
	width:300px;
	margin-top:50px;
	position:relative
}

#top-bar ul li a.signInOut {
	background-color:#0082C8;
	color:#fff;
	font-size:18px;
	padding:0px 10px;
	margin-top:2px;
}
input[type="text"].search-field {
	width:100%
}
/* for index page */
.home-page .main-content {
	width:640px;
}
.home-page .left-column {
	width:360px
}
#show-case-area {
	height:278px;
	margin-bottom:25px;
}
#signin-signup-panel {
	margin-right: 10px;
	width:282px;
	height:100%;
	border:1px solid #efefef;
	padding:10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: inset -11px 24px 202px -27px rgba(0,0,0,0.07);
	-moz-box-shadow: inset -11px 24px 202px -27px rgba(0,0,0,0.07);
	box-shadow: inset -11px 24px 202px -27px rgba(0,0,0,0.07);
}
.sign-in-wrapper input[type=text], .sign-in-wrapper input[type=password]{
	width:66%;
	margin-bottom:0px;
}
.sign-in-wrapper ul li{

	margin-bottom:10px;
}
.sign-in-wrapper label {
	margin-right:5px;
	display:inline
}
#sign-up input[type=text], #sign-up input[type=date], #sign-up input[type=password], #sign-up input[type=email]{
	width:187px;
}


.sign-up-wrapper ul:first-child li{
	text-align:center;
	margin-bottom:5px;
}
.sign-up-container {
	background-color: #FFFFFF;
    border:10px solid #eee;
    display: none;
    width: 450px;
    padding: 15px;
}
/* end for index page */

.title-image {
	float:right;
}

#ft{
	clear:both;  
	padding:15px; 
    overflow:hidden;
	border-top:5px solid #0082c8;
	background-color:#444444;
	margin-top:20px;
	
}
#ft * {
	color:#fff;
	font-size:12px;
}
#ft ul li{
	display:list-item;
	margin-left:20px;
	display:inline;

}

#ft ul li a{
	text-decoration:none;
	padding-right:15px;
	color:#fff !important;
}

.address {
	float:left;
	
}
.copywrite {
	float:right;
	line-height:36px;
}


.panel {
	margin-bottom:15px;
}
.panel .panel-content {
	border: 1px solid #bbb;
	min-height:150px;
	padding:10px;
}
.panel .panel-header {
	background-color:#efefef;
	padding:6px;
	

}
.panel .panel-header h3 {
	color:#505765;
	font-weight:normal;
	vertical-align:middle
}
/* for dashboard */
#user-info-panel {
	margin-bottom:30px;
}
#user-info-panel .profile-pic{
	width:180px;
}
.user-info {
	width:500px;
	margin-left:25px;
}
.posting-panel {
	border:1px solid #cccccc;
	
}
.posting-panel textarea{
	width:100%;
	border:none;
	height:50px;
}
.posting-options {
	background-color:#efefef;
	padding:5px;
	height:30px;
}

/*end for dashboard */



/* for register page or profile page */
.registerSchoolContainer {
	width:50%;
	margin:50px auto;
}
.profilePage .family-details {
	border-radius:10px;
	border:1px solid #ddd;
	margin:5px 20px;
	padding:0px 10px;
}
.profilePage .left-column {
	width:200px;
}
.profilePage .main-content {
	width:100%;
}
.profilePage form label{ 
	display: inline-block;
    text-align: right;
    line-height:normal;
}
.profilePage form ul li > label, .profilePage form div > label{ 
    width: 135px;
    color:#0082c8;
}
.profilePage #personalDetailsForm .personal-info ul.threeColumn  li > label {
	width:70px
}
.profilePage .family-details label {
	width:auto
}
.profilePage form  ul > li {
	min-height:54px;
	line-height:54px
}
.profilePage .family-details li {
	height:50px;
	line-height:50px
}
.profilePage form input, .profilePage form select{ 
    width:auto;
}
.profilePage h2 {
	background-color: #efefef;
	font-size: 20px;
	padding: 5px;
	margin: 25px 0px 10px 0px;
}
.profilePage .profile-pic{
 	left: 16px;
    position: absolute;
    top: 5px;
}
.profilePage .profile-pic input[type="file"]{
	font-size:11px;
	padding:8px 3px;
	width:100%
}
.profilePage h2 {
	background-color: #505765;
	font-size: 20px;
	padding: 5px;
	margin: 25px 0px 10px 0px;
	color:#fff
}
.profilePage #personalDetails form input[type="text"], .profilePage #personalDetails form input[type="password"] {
   border:1px solid #ddd;
   color:#000;
}

.profilePage .main-content form, .personal-details-container {
	border:5px solid #cfcfcf;
	border-top:none;
	position:relative
}
.profilePage .main-content  .personal-details-container form {
	border:none;
}
.profilePage .main-content form > ul {
	margin:15px;
}
.profilePage .main-content h2 {
	margin-bottom:0px;
}
.profilePage .main-content h3 {
	background-color:#eee;
	padding:5px;
	margin-bottom:15px
}
.profilePage .main-content .btn-wrapper {
	background-color:#cfcfcf;
	padding:6px;
}
#profilePage .dataTable {
	margin:0px;
	width:100%
}
#profilePage .contact-info {
	margin-top:30px
}
/* end of profile page css */
.popupContent {
	background-color: #fff;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 0 25px 5px #999;
	color: #111;
	display: none;
	min-width: 350px;
	padding: 25px;
	margin:auto;
	
}
/* vertical main nav */
.vertical-main-nav > ul > li > a {
	display: block;
	color: #fff;
	background: #505765;
	padding: 10px 18px 12px;
}
.vertical-main-nav > ul > li  {
	margin-bottom:1px;
}
.vertical-main-nav > ul > li >  ul > li > a {
	background: #efefef;
    box-sizing: border-box;
    color: #31353D;
    display: block;
    font-size: 10px;
    font-weight: 600;
    line-height: 18px;
    padding: 9px 18px 9px;
    text-transform: uppercase;
}
.vertical-main-nav > ul > li >  ul > li > a:hover {
	background-color: #0082C8;
	color:#fff;
}

.post-update-section .user-comments-section {
	 background-color: #f6f6f6;
}
.post-update-section  .user-comments-section li {
	border-bottom:1px solid #fff;	
	padding:5px
}
.post-update-section .panel {
	position:relative
}
.post-update-section .panel .panel-content {
	padding:4px
}

.post-update-section .icon-tool-bar {
	 /* background-color:#505765; */
   	border: 1px solid #EFEFEF;
    padding: 4px;
    position: absolute;
    right: 4px;
    top: 4px;
}
.post-update-section .icon-tool-bar li {
	 /* background-color:#505765; */
	margin:0px 5px
}
