/* generic classes */
.counts {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
  	background: none repeat scroll 0 0 #A6B911;
    border-radius: 5px;
    color: #FFFFFF;
    float: left;
    font-size: 31px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    margin: 0 20px 55px 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 40px;
}
.hidden {
	display:none
}
.navigation ul li  {
	background-color: #e5e5e5;
	border-left:10px solid #cacaca;
	padding-left:5px;
	margin-bottom:1px;
}
.navigation ul li:hover  {
	background-color: #cacaca;
	border-left:10px solid #0082c8;
}
.navigation ul li a {
	
	line-height:40px;
}
#capchaContainer {
	display:inline-block;
}
#capchaContainer img {width:100px;
float:right
}
#capchaContainer input {
	width:75px !important;
	
}
.dataTable {
	margin:15px 0px;

}
.dataTable thead {
	background-color:#444444;
}
.dataTable thead th {
	background-color:#3e3e3e;
	color:#fff;
	padding:7px 10px;
}
.dataTable td  {
	border-bottom: 1px solid #cacaca;
	padding:7px 10px;
	background-color:#f5f5f5;
}
.vError {
	border:1px solid red !important;
}
.errorMsg {color:#ff0000;
 margin-bottom: 15px;
    margin-top: -10px;
}

/* Header CSS */
#top-bar ul li{
	display:list-item;
	height:36px;
	margin-left:14px;
	float:left;
}

#top-bar {
	background-color:#31353D;
	height:40px;
	line-height:40px;
	padding:0px 2px 0px 25px;

}
#top-bar ul li a{
	height:36px;
	line-height:36px;
	text-decoration:none;
	padding-left:15px;
	color:#777777;
}
#top-bar ul li a:hover{
	color:#0082C8;
}
#doc {
	width:1024px;
}

#hd .header-content-wrapper {
	border-bottom:5px solid #efefef;
	position:relative;
	margin-bottom:5px;
	height:134px;
}
#hd .logo{
	float:left;
	width:580px;
	background:url(../images/linkalma-logo.png) left center; 
	background-repeat: no-repeat;
	height:100%;
}
#hd .logo a {
    display: block;
    height: 50px;
    margin-top: 38px;
    width: 237px;
}
.search-bar {
	width:300px;
	margin-top:50px;
	position:relative
}

#top-bar ul li a.signInOut {
	background-color:#0082C8;
	color:#fff;
	font-size:18px;
	padding:0px 10px;
	margin-top:2px;
}
input[type="text"].search-field {
	width:90%
}
/* for index page */
#show-case-area {
	height:278px;
}
#signin-signup-panel {
	margin-right: 10px;
	width:282px;
	height:100%;
	border:1px solid #c9c8c8;
	padding:10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: inset -11px 24px 202px -27px rgba(0,0,0,0.07);
	-moz-box-shadow: inset -11px 24px 202px -27px rgba(0,0,0,0.07);
	box-shadow: inset -11px 24px 202px -27px rgba(0,0,0,0.07);
}
.sign-in-wrapper input[type=text], #signin-signup-panel input[type=password]{
	width:66%;
	margin-bottom:0px;
}
.sign-in-wrapper ul li{

	margin-bottom:10px;
}
.sign-in-wrapper label {
	margin-right:5px;
	display:inline
}
#sign-up input[type=text], #sign-up input[type=date], #sign-up input[type=password], #sign-up input[type=email]{
	width:187px;
}


.sign-up-wrapper ul:first-child li{
	text-align:center;
	margin-bottom:5px;
}
.sign-up-container {
	background-color: #FFFFFF;
    border:10px solid #eee;
    display: none;
    width: 450px;
    padding: 15px;
}
/* end for index page */
#main-content-wrapper {
	padding:15px 0px;
	margin-top:3px;
	min-height:400px;
	display:block;
	border-top:1px solid #efefef;
}
.main-content {
	min-height:100px;
	width:725px;
	/*margin-left:374px;*/
	float:right
}
.main-content .middle-wrapper {
	float:left;
	width:732px;
}
.left-column {
	float:left;
	margin-right: 10px;
	width:275px;
	padding:0px 10px 0px 0px; 
	margin-right:24px;
}
.title-image {
	float:right;
}

#ft{
	clear:both;  
	padding:15px; 
    overflow:hidden;
	border-top:5px solid #0082c8;
	background-color:#444444;
	margin-top:20px;
	
}
#ft * {
	color:#fff;
	font-size:12px;
}
#ft ul li{
	display:list-item;
	margin-left:20px;
	display:inline;

}

#ft ul li a{
	text-decoration:none;
	padding-right:15px;
	color:#fff !important;
}

.address {
	float:left;
	
}
.copywrite {
	float:right;
	line-height:36px;
}


.panel {
	margin-bottom:15px;
}
.panel .panel-content {
	border: 1px solid #bbb;
	min-height:150px;
	padding:10px;
}
.panel .panel-header {
	background-color:#0082c8;
	padding:6px;


}
.panel .panel-header h3 {
	color:#fff;
	font-weight:normal;
	vertical-align:middle
}
/* for dashboard */
#user-info-panel {
	margin-bottom:30px;
}
.user-info {
	width:500px;
	margin-left:25px;
}
.posting-panel {
	border:1px solid #cccccc;
	
}
.posting-panel textarea{
	width:100%;
	border:none;
	height:50px;
}
.posting-options {
	background-color:#f2f2f2;
	padding:5px;
	height:30px;
}

/*end for dashboard */



/* for register page */
.registerSchoolContainer {
	width:50%;
	margin:50px auto;
}


.tow-col-layout .main-content{
	float:left;
}
.profilePage .left-column {
	width:200px;
}
.profilePage .main-content {
	width:765px;
}
.profilePage form label{ 
	display: inline-block;
    text-align: right;
    width: 135px;
}
.profilePage .family-details label {
	width:auto
}
.profilePage .family-details li {
	height:50px;
	line-height:50px
}
.profilePage form input, .profilePage form select{ 
    width:auto;
}
.profilePage h2 {
	background-color: #efefef;
	font-size: 20px;
	padding: 5px;
	margin: 25px 0px 10px 0px;
}
.profilePage .profile-pic input[type="file"]{
	font-size:11px;
	padding:8px 3px;
	width:100%
}
.popupContent {
	background-color: #fff;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 0 25px 5px #999;
	color: #111;
	display: none;
	min-width: 350px;
	padding: 25px;
	margin:auto;
	
}