/* CSS Document */
.button, input[type="submit"], input[type="button"] {
	display: inline-block;
	padding: 4px 14px;
	margin-bottom: 0;
	line-height: 20px;
	text-align: center;
	/* text-shadow: 0 1px 1px rgba(255,255,255,0.75); */
	vertical-align: middle;
	cursor: pointer;
	background-color: #0082c8;
	color:#fff;
	border:none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius:2px;
	opacity:0.8;
	filter: alpha(opacity=80);
	font-size:14px;
	font-family:  Helvetica, Verdana,  sans-serif; 
	
}
input[disabled="disabled"], input[disabled="disabled"]:hover  {
	background-color: #eee;
	color:#444;
	opacity:0.7;
	filter: alpha(opacity=70);
}

input.smalbtn, a.smalbtn {
	padding:0px 10px;
	font-size:12px;
	
}
.button:hover, input[type="submit"]:hover, input[type="button"]:hover {
 	filter: alpha(opacity=100);
	opacity:1
}

button.btn.btn-large,input[type="submit"].btn.btn-large {
padding-top:7px;
padding-bottom:7px;
}

button.btn.btn-mini,input[type="submit"].btn.btn-mini {
padding-top:1px;
padding-bottom:1px;
}

.button.medium {
	padding:5px 25px;
}
.button.large {
	padding:10px 35px;
	width:200px;
}
#submitSearchBtn {
    height: 32px;
    line-height: 30px;
    position: absolute;
    right: 31px;
    text-align: center;
    top: 17px;
    vertical-align: middle;
    width: 32px;
}
/* 
buttons related css 
ends 
*/
select, input[type=text], input[type=password], input[type=email], input[type=date], textarea  {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #cacaca;
	width:100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	
}
input[type=text], input[type=password],input[type=email], input[type=date] {
	background-color: #fff;
	padding: 8px 10px;
	margin-bottom:10px;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
    -webkit-box-shadow:0 0 10px #0079b5;
    -moz-box-shadow:0 0 10px #0079b5;
    box-shadow:0 0 10px #0079b5;
	border:1px solid #0082c8;
}
.readOnlyForm input[type=text]:focus, .readOnlyForm input[type=password]:focus, .readOnlyForm textarea:focus {
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
	border:1px solid transparent;
	cursor:default;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
input[type=radio]{
	margin:none;
	padding:none;
}
select {
	padding:7px 5px;	
	margin-bottom: 10px;
}
.twoColumnForm li {
	width:50%;
	float:left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.twoColumn > li {
	width:50%;
	float:left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.threeColumn > li, .threeColumn > * {
	width:33%;
	float:left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	
}
.fourColumn > li {
	width:25%;
	float:left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.twoColumn_1-3 > li:last-child {
	width:75%;
	float:left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.twoColumn_1-3 > li:first-child {
	width:25%;
	float:left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
form label {
	display:block
}
.inlineForm li {
	width:auto;
	float:left;
	height:75px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.dobFields select {
	width:auto
}
.readOnlyForm input[type="text"], .readOnlyForm input[type="password"]{
	background: none;
    border:1px solid transparent;
	color:#444;
	font-weight:bold
}


#profilePage .main-content ul li {
	padding-right:10px;
}

#profilePage .dataTable td {
	padding:0px;
}
 .dataTable select {
 	margin-bottom:0px;
 }
 .dataTable input[type="text"], .readOnlyForm .dataTable input[type="password"] {
	margin:0px;
	width:100%;
	font-weight:normal;
	color:#999999;
}