/* only include CSS which is related to School page */
#hd.school-header {
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
	position:relative;
	background: #726b65;
	margin-bottom:0px;
}
.school-logo a {
	font-weight:bold;
	font-size: 34px;
}
#hd.school-header .header-content-wrapper {
	width:1024px;

	border:none;
	height:80px;
	line-height:80px;
	vertical-align:middle
}
.school-header .top-navigation  {
	position:absolute;
	right:0px;
	top:0px;
} 
.school-header .top-navigation ul {
	line-height:normal;
}
.school-header .top-navigation ul li  {
	float:left;
	margin-left:1px;
} 
.school-header .top-navigation ul li a {
	display:inline-block;
	background-color:#a6b911;
	color:#fff;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	padding:5px 10px;
} 

.school-news-and-event ul li {
	margin-bottom:25px;
}
.counts {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
  	background: none repeat scroll 0 0 #A6B911;
    border-radius: 5px;
    color: #FFFFFF;
    float: left;
    font-size: 31px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    margin: 0 20px 55px 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 40px;
}

.school-news-and-event .description {
	height:100px;
	width:250px;
	border:none;
	padding:0px;
}
.school-news-and-event .description p {
	height:58px;
	overflow:hidden
}
hr {
	border:none;
	
	margin:30px 0px
}
/* overwritting css */
h2 {

	font-size:30px;
	padding:5px;
	margin:25px 0px
}
h3 {
	color:#000
}
.button {
	background-color:#a6b911
}
.school-logo a, a {
	color:#a6b911;
}
.main-content-wrapper, #main-content-wrapper {
	border:none;
}
.school-news-and-event {
	float:left;
	margin-right: 10px;
	width:340px;
	padding:0px 10px 0px 0px; 
	margin-right:24px;
}
.school-staffs > div {
	float:left;
	width:240px;
	margin-right:16px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 10px;
	border:10px solid #EFEFEF;
	background-color: #EFEFEF;

}
.school-staffs h3 {
	margin: 5px 0;
    padding: 0;
    font-size:22px;
    font-weight:normal;

	font-family:century gothic, Helvetica, Verdana, Arial,  sans-serif; 

	line-height:30px;
}
.home-intro-section {
	width:650px;
	/*margin-left:374px;*/
	float:right
}
#gallery a {
	border: 10px solid #EEEEEE;
    display: inline-block;
    margin: 10px;
}
#gallery a:hover {
	opacity:0.8;
	border-color:#A6B911;
}
